mongo_db = ""
mongo_db_server = ""
mongo_db_tail = ""
mongo_write_key_file = ""
mongo_read_key_file = ""

cosmos_db = ""
cosmos_db_server = ""
cosmos_db_user = ""
cosmos_db_port = 0
cosmos_db_tail = ""
cosmos_db_key = ""

GAPI = ""
SERP = ""
